body {
  margin: 0;
  background-color: black;
  color: seashell;
  font-family: Helvetica, sans-serif;
  font-size: 27px;
  opacity: 0.9;
}

h2 {
  font-size: 40px;
  margin: 10px;
}

h3 {

}

h4 {
  font-size: 20px;
  margin: 10px;
}

h5 {

}

header {
  background-color: black;
  border-bottom: 1px solid seashell;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  height: 69px;
  margin: 0 auto;
  padding: 0 10px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

header div {
  display: flex;
  align-items: center;
  flex: 1;
  top: 0;
}

header img {
  height: 50px;
}

header nav {
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
}

nav span a  {
  color: seashell;
  font-size: 20px;
  margin-right: 20px;
  text-decoration: underline;
}

footer {

}

.content {
  margin: 70px auto;
  width: 1200px;
}

.mission {
  background-image: url("../images/img-mission-background.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px;
  width: 1200px;
}

.mission div {
  background-color: black;
}

.sectionText {
  text-align: center;
  width: 100%;
}

.sectionText h2 {
  margin-bottom: 20px;
}

.featuredTea {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 1000px;
  margin: 0 auto 70px auto;
  padding-top: 70px;
}

.featuredItems {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.featuredItem {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 300px;
}

.featuredItem img {
  height: 200px;
  width: 300px;
}

.locations {
  background-image: url("../images/img-locations-background.jpg");
  height: 500px;
  padding-top: 70px;
  width: 1200px;
}

.location {

}

.contact {

}
