body {
  font-family: Helvetica, sans-serif;
  font-size: 27px;
  color: seashell;
  background-color: black;
}

h1 {
  font-family: "Brush Script MT", cursive;
	font-size: 50px;
	font-weight: 400;
}

h2 {

}

h3 {

}

h4 {

}

h5 {

}

header {

}

footer {

}

nav {

}
